@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #060c13;
  color: #b9baa3;
}

.container {
  margin: 5rem 7rem;
}

.blog_back {
  margin: 0rem 0rem 5rem 0rem;
}

.blog_button_back {
  padding: 0.75rem 1.75rem;
  background: #902923;
  border-radius: 10px;
  color: #b9baa3;
  text-decoration: none;
}

#span_blog {
  display: none;
}

.blog_button_back:hover {
  background: #531b18;
}

.blog_button_back:hover > #span_blog {
  display: inline-block;
}

.blog_section {
  border: 0.33rem solid #0e1c2c;
  padding: 2rem;
  border-radius: 1rem;
}
