:root {
  --p-color-prim-I: 93, 120, 27;
  --p-color-prim-II: 179, 169, 56;
  --p-color-alpha-I: 251, 202, 107;
  --p-color-alpha-II: 234, 235, 237;

  --color-white: var(--p-color-alpha-II);

  --color-black: 13, 17, 4;
}

@font-face {
  font-family: "";
  font-weight: 100;
  src: url("") format("");
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "HK Grotesk Web", Helvetica, arial, sans-serif;
  color: rgb(var(--color-white));
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--color-white));
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
    line-height: 1.6;
  }
}

::selection {
  background: #5051db;
  color: white;
  text-shadow: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 24px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  color: #3c3c42;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: #5051db;
  transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
  color: #3e3ea8;
}

a:hover,
a:focus {
  color: #3e3ea8;
}

svg {
  width: 100%;
  height: 100%;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 56.4em;
}

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.o-list {
  list-style: none;
  padding: 0;
}

.c-header {
  background-color: var(--global-color-alpha-xx-dark);
  padding: 24px 32px 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.c-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80dvh;
  background: rgb(var(--p-color-prim-I));
  background: url("../image/header\ bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-header-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
}

.c-header__nav {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .c-header__mobile-nav-trigger {
    display: none;
  }
}

.c-logo {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.c-logo:hover {
  transform: scale(1.1);
}

.c-logo__path {
  stroke-dasharray: 850;
  stroke-dashoffset: 0;
  animation: draw_logo 1s forwards;
}

.c-logo:focus .c-logo__path,
.c-logo:hover .c-logo__path {
  transition: stroke-dashoffset 1s ease-in-out;
  animation: draw_logo 1s forwards;
  stroke: rgb(var(--p-color-prim-I));
}

@keyframes draw_logo {
  from {
    stroke-dashoffset: 850;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.c-logo__symbol {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .c-logo {
    height: 60px;
  }

  .c-db-mobile-nav__header > .c-logo {
    height: 40px;
  }
}

.c-nav-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
}

.c-nav-trigger__svg {
  fill: rgb(var(--color-white));
  height: 100%;
}

.c-nav {
  font-size: 18px;
  line-height: 24px;
}

.c-nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  display: block;
  padding: 8px 0;
  outline: none;
}

.c-nav__link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(var(--p-color-prim-I));
  transition: all 0.1s ease-in-out;
}

.c-github:hover svg,
.c-github:focus svg {
  fill: rgb(45, 186, 78);
  outline: none;
  border: none;
}

.c-linkedin:hover svg,
.c-linkedin:focus svg {
  fill: rgb(14, 118, 168);
  outline: none;
  border: none;
}

.c-instagram:hover svg,
.c-instagram:focus svg {
  fill: rgb(225 48 108);
  outline: none;
  border: none;
}

.c-nav__link--meta svg {
  width: 36px;
  height: 36px;
  fill: rgb(var(--color-white));
}

.c-nav__link--mobile svg {
  width: 24px;
  height: 24px;
  fill: rgb(var(--color-white));
}

.is-selected,
.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: rgb(var(--color-white));
  text-transform: uppercase;
  transition: color 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

.c-nav__link:focus,
.c-nav__link:hover {
  color: rgb(var(--p-color-prim-I));
}

.c-nav__link:focus:after,
.c-nav__link:hover:after {
  width: 30px;
  background-color: rgb(var(--p-color-prim-I));
}

.c-nav__link:active {
  color: rgb(var(--p-color-prim-II));
}

.c-nav__link:active:after {
  background-color: rgb(var(--p-color-prim-II));
}

.is-selected:after {
  width: 30px;
}

.c-nav__list {
  margin-bottom: 0;
}

.c-nav__list--mobile {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (min-width: 992px) {
  .c-nav__list {
    display: flex;
    gap: 12px;
  }

  .c-nav__link {
    padding: 4px 16px;
  }

  .c-nav__link:focus:after,
  .c-nav__link:hover:after {
    width: calc(50% - 16px);
  }

  .is-selected:after {
    width: calc(50% - 16px);
  }
}

.c-mobile-nav {
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  height: 100dvh;
  pointer-events: none;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.has-mobile-nav .c-mobile-nav {
  top: 0;
  pointer-events: auto;
}

.c-mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.c-mobile-nav__body {
  position: relative;
  padding: 24px;
  height: 80dvh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 400px, 0% 450px);
  background-color: rgba(8, 10, 1, 0.75);
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 0.25s ease;
  backdrop-filter: blur(10px);
}

.has-mobile-nav .c-mobile-nav__body {
  opacity: 1;
  transform: translateX(0%);
}

@media (min-width: 768px) {
  .c-mobile-nav__body {
    padding: 48px;
  }
}

@media (min-width: 992px) {
  .c-mobile-nav {
    display: none !important;
  }

  .c-nav__link:after {
    left: 16px;
  }
}

.c-header-text--test {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 24px;
  isolation: isolate;
  filter: invert(0);
  mix-blend-mode: difference;
  width: 100%;
  max-width: 56.4em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
